<h1><%= @product.name %></h1>

<div>
  <%= @product.description %>
</div>

<%= image_tag @product.featured_image if @product.featured_image.attached? %>

<p>Inventory: <%= @product.inventory %></p>
<p>Price: <%= @product.price %></p>

<%= link_to "Edit", edit_product_path(@product) if authenticated? %>

<br><br>
<%= link_to "Back", products_path %>
